.banner {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  position: relative;
  border: 2px solid rgb(255, 51, 0);
  overflow: hidden;
}
.img {
  filter: blur(2px) sepia(50%) brightness(60%);
}
.bannerTexts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  color: whitesmoke;
  top: 30%;
  left: 50%;
  font-weight: bold;
  animation: animacion 2s ease-in-out forwards;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes animacion {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  70% {
    
    transform: translateX(1%);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
